@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/opensans-light.eot');
    src: url('../font/opensans-light.eot') format('embedded-opentype'),
         url('../font/opensans-light.woff') format('woff'),
         url('../font/opensans-light.ttf') format('truetype'),
         url('../font/opensans-light.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/awe-font/fontawesome-webfont.eot?v=4.0.3');
  src: url('../font/awe-font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../font/awe-font/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../font/awe-font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../font/awe-font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{margin: 0;padding: 0;text-decoration: none;font-family: 'OpenSansLight', sans-serif;font-size: 14px;}
body{background: #57B484;}
.wrapper{margin: 0 auto;max-width: 500px;}
.main{float: left;width: 100%;}
.content{float: left;width: 100%;background: #fff;margin-top: 50px;}
.header{float: right;width: 98%;text-align: right;padding: 10px 1% 0 1%}
.header a{font-family: FontAwesome;color: #d6d6d6;font-size: 16px;display: block;padding:0 1%;}
.header a:hover{color: #686868;}
h2{
    float: left;padding: 0 2% 30px 2%;font-size: 28px;width: 96%;color: #686868;border-bottom: 1px solid #dfdfdf;
}
form{float: left;padding: 30px 0 30px 2%;width: 98%;}

form .alert{
    float: left;
    width: 86%;
    color: #fc4325;
    padding-left: 5%;
    padding-bottom: 10px;
}
form .alert-success{color: #57B484;}

form .input{float: left;border:1px solid #dfdfdf;width: 86%;margin: 0 0 15px 5%;}
form .input span{
    float: left;font-family: 'FontAwesome';color: #d6d6d6;padding: 10px 0;width: 10%;text-align: center;
}
form .input input[type="text"], form .input input[type="password"]{
    border: none;outline: none;padding: 10px 0;width: 88%;float: left;padding-left: 2%;
}
form .submit{border: none;}
form .input input[type="submit"], form .submit a{
    background: #fc4325;color: #fff;font-size: 14px;border: 1px solid #fc4325;padding: 8px 20px;float: right;margin-right: -1px;cursor: pointer;
}
 form .input input[type="submit"]:hover, form .submit a:hover{background: #CF3333;}
 form .submit a{float: left;}